.grid-ul li {
    display: grid;
    margin-top: 10px;
}
.grid-ul li input {
    padding: 3px;
    border-radius: 5px;
}
.grid-ul button {
    justify-items: center;
    margin: 5px;
}
.centrarlo {
    display: flex;
    justify-content: center;
}
#section-help-result p {
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    margin: 15px auto;
    color: white;
    text-align: center;
    display: block;
    background-color: #dc3545;
}